@charset "UTF-8";

/* estilo para telas maiores */

@media screen and (min-width: 800px) and (max-width:992px) {
    #login {
        width: 80vw;
        height: 375px;
    }

    #login > #imagem {
        background: url(../imagens/foto-lado-login.png);
        background-size: cover;
        float: left;
        width: 40%;
        height: 100%;
    }

    form {
        transform: translateY(10px);
    }

    #login > #formulario {
        float: right;
        width: 60%;
        height: auto;
    }

    #formulario > p {
    font-size: 1.2em;
    }

    #formulario > h1 {
        font-size: 2.2em;
    }
}

@media screen and (min-width: 992px) and (max-width: 1200px) {
    #login {
        width: 80vw;
        height: 375px;
    }

    #login > #imagem {
        float: left;
        width: 40%;
        height: 100%;
    }

    form {
        transform: translateY(10px);
    }

    #login > #formulario {
        float: right;
        width: 60%;
    }

    #formulario > p {
    font-size: 1.2em;
    }

    #formulario > h1 {
        font-size: 2.2em;
    }
}

@media screen and (min-width: 1200px) and (max-width:1400px) {
    #login {
        width: 60vw;
        height: 375px;
    }

    #login > #imagem {
        float: left;
        width: 50%;
        height: 100%;
    }

    form {
        transform: translateY(10px);
    }

    #login > #formulario {
        float: right;
        width: 50%;
    }

    #formulario > p {
    font-size: 1.2em;
    }

    #formulario > h1 {
        font-size: 2.2em;
    }

    form > input[type=submit]:hover {
    background-color: rgb(96, 49, 207);
    transition-duration: .4s;
    color: white;
    transform: translateY(-3px) scale(1.01);
}
}

@media screen and (min-width: 1400px) {
    #login {
        width: 60vw;
        height: 375px;
    }

    #login > #imagem {
        float: left;
        width: 50%;
        height: 100%;
    }

    form {
        transform: translateY(10px);
    }

    #login > #formulario {
        float: right;
        width: 50%;
    }

    #formulario > p {
    font-size: 1.2em;
    }

    #formulario > h1 {
        font-size: 2.2em;
    }

    form > input[type=submit]:hover {
    background-color: rgb(96, 49, 207);
    transition-duration: .4s;
    color: white;
    transform: translateY(-3px) scale(1.01);
}
}